/* Structure */
.member-container {
  position: relative;
  min-height: 80%;
  padding: 5px;
}

.member-list-container {
  min-height: 90%;
}

.member-table-container {
  height: 70%;
}

table {
  width: 100%;
}

.mat-header-row {
  height: 32px !important;
}

.mat-row {
  height: 32px !important;
}

.footer-row {
  font-size: small;
  color: grey;
}

.mat-flat-button {
  margin: 5px;
}

.do-action {
  cursor: pointer;
}