@import '../../../correcat.scss';
$primary: map-get($crm-app-theme, primary);
$accent: map-get($crm-app-theme, accent);

/* Structure */
.member-container {
  position: relative;
  min-height: 80%;
  padding: 5px;
}

.member-loading-shade {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 56px;
  right: 0;
  background: rgba(0, 0, 0, 0.15);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.member-add-container {
  min-height: 100%;
}

.home {
  margin-right: 10px;
}

.mat-flat-button {
  margin: 5px;
}

// Width & Height
.full-width {
  width: 100%;
}

.full-height {
  height: 100%;
}

// align
.justify {
  justify-content: center
}

.middle {
  line-height: 5em;
}

// Fill
.fill {
  background-color: rgba(0,0,0,.04);
}

.fill-light {
  background-color: rgba(0,0,0,.04);
  color: grey;
}

.fill-bold {
  background-color: rgba(0,0,0,.04);
  font-weight: bold;
}

// Action
.do-action {
  cursor: pointer;
}

.icon-as-button {
  color: white;
  background-color: mat-color($primary);
}

//
.button-row {
  margin-top: 10px;
  float: right;
}

::ng-deep .mat-horizontal-stepper-header-container {
  height: 24px !important;
}

::ng-deep .mat-vertical-content-container {
  margin-left: 12px !important;
}

::ng-deep .mat-step-header {
  padding-left: 0px !important;
}

.form-card {
  margin-top: 25px;
}

.spaced-button {
  margin-right: 8px;
}

.wrap-mat-radio-label {
  padding-right: 10px;
  font-size: 14px !important;
  height: 32px;
}

.mat-form-field {
  margin-top: 5px;
}
