/* Structure */
.member-container {
  position: relative;
  min-height: 80%;
  padding: 5px;
}

.member-loading-shade {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 56px;
  right: 0;
  background: rgba(0, 0, 0, 0.15);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.home {
  margin-right: 10px;
}

.member-reports-container {
  margin-top: 10px;
  min-height: 90%;
}

.mat-flat-button {
  margin: 5px;
}

// Width & Height
.full-width {
  width: 100%;
}

.full-height {
  height: 100%;
}

// Align & margins
.justify {
  justify-content: center
}

.margin-around {
  margin: 5px;
}

// Fill
.fill-light {
  background-color: rgba(0,0,0,.04);
  color: grey;
}

// Pointer
.do-action {
  cursor: pointer;
}

//
.member-card-actions {
  text-align: center;
}

.small-icon-button {
  width: 24px !important;
  height: 24px !important;
  line-height: 24px !important;
 
  .mat-icon {
    padding-top: 0px;
    width: 16px !important;
    height: 16px !important;
    line-height: 16px !important;
  }
    
  .material-icons {
    font-size: 16px !important;
  }
}

.mat-list-item {
  height: 32px !important;
}

.filename {
  font-size: 14px !important;
}

.all-header-image {
  background-image: url('../../../assets/images/people.png');
  background-size: cover;
}

.inconsistentemail-header-image {
  background-image: url('../../../assets/images/email.png');
  background-size: cover;
}
  
.inconsistentnick-header-image {
  background-image: url('../../../assets/images/nick.png');
  background-size: cover;
}

.notingroup-header-image {
  background-image: url('../../../assets/images/exclusion.png');
  background-size: cover;
}

.groupnotmember-header-image {
  background-image: url('../../../assets/images/thief.png');
  background-size: cover;
}
