<div class="member-container mat-elevation-z8">
  <div class="member-loading-shade" *ngIf="isLoadingResults">
    <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
  </div>
  <div>
    <a mat-mini-fab color="primary" matTooltip="Torna al llistat" [routerLink]="['/members-list']" class="home">
      <mat-icon>home</mat-icon>
    </a>
    <span class="mat-title">Detalls d'un associat</span>
  </div>
  <mat-card class="member-details-container">
    <mat-card-header>
      <div mat-card-avatar [ngClass]="{'member-male' : member.sexe === 'H', 'member-female' : member.sexe === 'D'}">
      </div>
      <mat-card-title>{{member.nick}}</mat-card-title>
      <mat-card-subtitle>{{member.cognoms}}, {{member.nom}}</mat-card-subtitle>
    </mat-card-header>

    <ng-template #basicdata>
      <dl>
        <dt>eMail:</dt>
        <dd>{{member.email}}</dd>
        <dt>NIF:</dt>
        <dd>{{member.nif}}</dd>
        <dt>IBAN:</dt>
        <dd>{{member.iban}}</dd>
        <dt>&nbsp;</dt>
        <dd>&nbsp;</dd>
      </dl>
    </ng-template>

    <ng-template #contactdata>
      <dl>
        <dt>Telèfon:</dt>
        <dd>{{member.telefon}}</dd>
        <dt>Adreça:</dt>
        <dd>{{member.adreca}}</dd>
        <dt>Codi postal:</dt>
        <dd>{{member.codiPostal}}</dd>
        <dt>Població:</dt>
        <dd>{{member.poblacio}}</dd>
      </dl>
    </ng-template>

    <ng-template #otherdata>
      <dl>
        <dt>Quota pagada al TPV:</dt>
        <dd>{{member.quotaAlta}} €</dd>
        <dt>Data del pagament:</dt>
        <dd>{{member.dataAlta | date:'dd/MM/yyyy' }}</dd>
        <dt>Observacions:</dt>
        <dd>{{member.observacions}}</dd>
        <dt>&nbsp;</dt>
        <dd>&nbsp;</dd>
      </dl>
    </ng-template>

    <ng-template #bigScreen>
      <mat-card-content>
        <div fxLayout="wrap" fxLayout.xs="column" class="full-width">
          <div fxFlex="0 1 33%">
            <mat-card class="mat-elevation-z4 full-height margin-around">
              <mat-card-header>
                <div mat-card-avatar class="basic-header-image"></div>
                <span class="mat-tab-label">Bàsica</span>
              </mat-card-header>
              <mat-card-content>
                <ng-container *ngTemplateOutlet="basicdata"></ng-container>
              </mat-card-content>
            </mat-card>
          </div>

          <div fxFlex="0 1 33%">
            <mat-card class="mat-elevation-z4 full-height margin-around">
              <mat-card-header>
                <div mat-card-avatar class="contact-header-image"></div>
                <span class="mat-tab-label">Contacte</span>
              </mat-card-header>
              <mat-card-content>
                <ng-container *ngTemplateOutlet="contactdata"></ng-container>
              </mat-card-content>
            </mat-card>
          </div>

          <div fxFlex="0 1 33%">
            <mat-card class="mat-elevation-z4 full-height margin-around">
              <mat-card-header>
                <div mat-card-avatar class="other-header-image"></div>
                <span class="mat-tab-label">Altra</span>
              </mat-card-header>
              <mat-card-content>
                <ng-container *ngTemplateOutlet="otherdata"></ng-container>
              </mat-card-content>
            </mat-card>
          </div>
        </div>
      </mat-card-content>
    </ng-template>

    <ng-template [ngIf]="smallScreen" [ngIfElse]="bigScreen">
      <mat-card-content (panleft)="onPanLeft($event)" (panright)="onPanRight($event)">
        <mat-tab-group #usertabs>
          <mat-tab label="Bàsica">
            <ng-container *ngTemplateOutlet="basicdata"></ng-container>
          </mat-tab>

          <mat-tab label="Contacte">
            <ng-container *ngTemplateOutlet="contactdata"></ng-container>
          </mat-tab>

          <mat-tab label="Altra">
            <ng-container *ngTemplateOutlet="otherdata"></ng-container>
          </mat-tab>
        </mat-tab-group>
      </mat-card-content>
    </ng-template>

    <mat-card-actions align="end">
      <a mat-flat-button color="accent" (click)="unregisterMember(member.id)">
        <mat-icon>delete</mat-icon> Baixa
      </a>
      <a mat-flat-button color="primary" disabled="true" [routerLink]="['/member-details', member.id]">
        <mat-icon>edit</mat-icon> Edita
      </a>
    </mat-card-actions>
  </mat-card>
</div>