/* Structure */
.member-container {
  position: relative;
  min-height: 80%;
  padding: 5px;
}

.member-loading-shade {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 56px;
  right: 0;
  background: rgba(0, 0, 0, 0.15);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.home {
  margin-right: 10px;
}

.member-details-container {
  margin-top: 10px;
  min-height: 90%;
}

.mat-flat-button {
  margin: 5px;
}

// Width & Height
.full-width {
  width: 100%;
}

.full-height {
  height: 100%;
}

// Align & Margin
.justify {
  justify-content: center
}

.margin-around {
  margin-right: 5px;
  margin-left: 5px;
}

// Images
.member-male {
  // background-image: url('https://mdbootstrap.com/img/Photos/Others/men.jpg');
  background-image: url('../../../assets/images/male.png');
  background-size: cover;
}

.member-female {
  background-image: url('../../../assets/images/female.png');
  background-size: cover;
}

.basic-header-image {
  background-image: url('../../../assets/images/personaldata3.png');
  background-size: cover;
}
.contact-header-image {
  background-image: url('../../../assets/images/contact2.png');
  background-size: cover;
}

.other-header-image {
  background-image: url('../../../assets/images/info.png');
  background-size: cover;
}

//
@media all and (max-width: 599px){
  .xs-view {
    display: block;
  }

  .normal-view {
    display: none;
  }
}

@media all and (min-width: 600px){
  .xs-view {
    display: none;
  }

  .normal-view {
    display: block;
  }  
}