.pc-full-width {
    width: 100%;
}

.pc-action {
    cursor: pointer;
}

@media all and (max-width: 599px){
    .xs-nodisplay {
        display: none;
    }

    .pc-column {
        width: 100%;
    }
    
    .pc-data {
        font-size: small;
    }

    .mat-list-base .mat-list-option {
        font-size: small !important;
    }
}

@media all and (min-width: 600px){
    .pc-column {
        width: 50%;
    }

    .pc-data {
        font-size: 14px;
    }

    .mat-list-base .mat-list-option {
        font-size: 14px !important;
    }

}

