.member-loading-shade {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 56px;
  right: 0;
  background: rgba(0, 0, 0, 0.15);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.home {
  margin-right: 10px;
}

/* Structure */
.member-container {
  position: relative;
  padding: 5px;
}

.member-full-width {
  width: 100%;
}

.member-full-width:nth-last-child(0) {
  margin-bottom: 10px;
}

.mat-flat-button {
  margin: 5px;
}

.button-row {
  margin: 10px 0;
}

.member-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.fill-bold {
  background-color: rgba(0,0,0,.04);
  font-weight: bold;
}

.fill-light {
  background-color: rgba(0,0,0,.04);
  color: grey;
}

.fill {
  background-color: rgba(0,0,0,.04);
}

.action {
  cursor: pointer;
}

.filter-row-field {
  background-color: rgba(0,0,0,.04);
}

::ng-deep .mat-form-field-infix {
  border-top: 0px !important;
}

::ng-deep .mat-form-field-wrapper {
  padding-bottom: 0px !important;
}

::ng-deep .mat-form-field-appearance-legacy .mat-form-field-underline {
  height: 0px !important;
}

::ng-deep .mat-form-field-ripple {
  margin-top: 10px !important;
}

.input-date-text {
  font-size: 14px !important;   
}

@media all and (max-width: 599px){
  .xs-nodisplay {
      display: none;
  }

  .mat-list-base .mat-list-option {
      font-size: 14px !important;
      height: 32px;
  }

  .mat-list-base .mat-list-item {
    font-size: 14px !important;
    height: 32px;
  }

  .wrap-mat-radio-label {
    padding-right: 10px;
    font-size: 14px !important;
    height: 32px;
  }
}

@media all and (min-width: 600px){
  .mat-list-base .mat-list-option {
    font-size: 14px !important;
    height: 24px;
  }

  .mat-list-base .mat-list-item {
    font-size: 14px !important;
    height: 24px;
  }

  .wrap-mat-radio-label {
    padding-right: 10px;
    font-size: 14px !important;
    height: 24px;
  }
}

