@import '../../../correcat.scss';
$primary: map-get($crm-app-theme, primary);
$accent: map-get($crm-app-theme, accent);

/* Structure */
.member-container {
  position: relative;
  min-height: 80%;
  padding: 5px;
}

.member-loading-shade {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 56px;
  right: 0;
  background: rgba(0, 0, 0, 0.15);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.home {
  margin-right: 10px;
}

.member-export-container {
  min-height: 100%;
}

.mat-flat-button {
  margin: 5px;
}

// Width & Height
.full-width {
  width: 100%;
}

.full-height {
  height: 100%;
}

// align
.justify {
  justify-content: center
}

.middle {
  line-height: 5em;
}

// Fill
.fill {
  background-color: rgba(0,0,0,.04);
}

.fill-light {
  background-color: rgba(0,0,0,.04);
  color: grey;
}

.fill-bold {
  background-color: mat-color($accent);
}

.fill-title {
  background-color: mat-color($primary);
  color: white;
}

// Action
.do-action {
  cursor: pointer;
}

//
.member-header-text {
  margin-left: -32px !important;
  margin-bottom: 10px;
}

.member-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.input-date-text {
  font-size: 14px !important;   
}

.criteria-card {
  margin-top: 10px;
}

.select-values {
  margin-bottom: 10px;
}

.delete-criteria {
  margin-left: -20px;
}

.mat-expansion-panel:not([class*='mat-elevation-z']) {
  box-shadow: none;
  border: 1px solid #B8B8B8;
}

.mat-expansion-panel-header {
  padding-left: 12px !important;
}

.member-export-container .mat-form-field {
  width: 95%;
}

.button-row {
  margin-top: 10px;
}

.button-generate {
  height: 36px;
}

@media all and (max-width: 599px){
  .xs-nodisplay {
      display: none;
  }

  .mat-list-base .mat-list-option {
      font-size: 14px !important;
      height: 32px;
  }

  .mat-list-base .mat-list-item {
    font-size: 14px !important;
    height: 32px;
  }

  .wrap-mat-radio-label {
    padding-right: 10px;
    font-size: 14px !important;
    height: 32px;
  }
}

@media all and (min-width: 600px){
  .mat-list-base .mat-list-option {
    font-size: 14px !important;
    height: 24px;
  }

  .mat-list-base .mat-list-item {
    font-size: 14px !important;
    height: 24px;
  }

  .wrap-mat-radio-label {
    padding-right: 10px;
    font-size: 14px !important;
    height: 24px;
  }
}

